<div>
    <form [formGroup]="concesionarioForm" (ngSubmit)="addConcesionario()">
        <input type="hidden" name="id" id="txtid" formControlName="id">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="txtname" formControlName="nombre" id="txtname">
        </div>
        <div class="form-group">
            <label for="name">Direccion</label>
            <input type="text" class="form-control" name="txtlastName" formControlName="direccion" id="txtlastName">
        </div>

        <div class="form-group">
            <label for="name">Telefono</label>
            <input type="text" class="form-control" name="txttelefono" formControlName="telefono" id="txttelefono">
        </div>
        <div>
            <input type="submit" value="Guardar"/>
        </div>
    </form>
    <script src="sweetalert2.all.min.js"></script>
</div>
